source/SMS.Repository/obj/
source/SMS.Repository/bin/
source/SMS.Modules.Message/obj/
source/SMS.Modules.Message/bin/
source/SMS.Modules.Mail/obj/
source/SMS.Modules.Contacts/obj/
source/SMS.Modules.Calendar/obj/
source/SMS.Modules.Calendar/bin/
source/SMS.MediatR/obj/
source/SMS.MediatR/bin/
source/SMS.Main/obj/
source/SMS.Main/bin/
source/SMS.Infrastructure/obj/
source/SMS.Data/obj/
source/SMS.Data/bin/
source/SMS.Common/obj/
source/SMS.Common/bin/
source/SMS.Modules.Contacts/bin/
source/SMS.Modules.Mail/bin/
source/SMS.Main/appsettings.json
source/SMS.Infrastructure/bin/
.vs/
CodeMaid.config
